.quote {
	padding: 100px 0;
	width: 100%;
	height: 750px;
	background-image: linear-gradient(180deg, rgba(2, 44, 67, 0.8) 0%, rgba(56, 59, 64, 1) 100%), url('../img/quote_bg.jpg');
	background-size: cover;
}